@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }
    @media (max-width: 1080px) {
        font-size: 87.5%;
    }
}

button {
    cursor: pointer;
    
}

.Header {
    background-color: #bb6aa0;
    padding: 1rem;

    h1{
    color: white;
    display: flex;
    justify-content: center;}
    
}